.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GoogleService-Info.plist
macos/Flutter/GeneratedPluginRegistrant.swift

firebase-debug.log
firestore-debug.log
*.iml
.idea/
.vscode/
.DS_Store
